{
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:react/recommended"],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "react/prop-types": "off"
  }
}
