{
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off"
  }
}
